include ../assets/style.css
- if (theme)
  style(type='text/css')!=theme

a#EDT-show EDT
#EDT
    a#EDT-close X
    table#EDT-layout
        tr
            td#EDT-main
                - edt_first = ' active'
                - panels.forEach(function(panel){
                    div(class='tab' + edt_first, id='EDT-' + panel.name)!= panel.html
                    - if (edt_first) edt_first = ''
                - })
            td#EDT-sb
                h2 express-debug
                p #{req.method} #{req.path}
                ul
                    - panels.forEach(function(panel){
                        li: a(href='#EDT-' + panel.name)= panel.name
                    - })

include ../assets/js.js
